# Assignment 1.4 Pandas
Pandas is an open source Python package providing fast, flexible, and expressive data structures and data manipulation designed to make working with “relational” or “labeled” data both easy and intuitive. It is the fundamental high-level building block for doing practical, real world data analysis in Python.
https://pandas.pydata.org/

In [1]:
## Import numpy and pandas

# YOUR CODE HERE
import pandas as pd
import numpy as np

The two primary data structures of pandas are 
- Series (1-dimensional) and 
- DataFrame (2-dimensional)

Read this [10 min intro to get started](https://pandas.pydata.org/pandas-docs/stable/10min.html)

### Data Loading

You are given two csv files.  
- 'sales1.csv'
- 'sales2.csv'

Load both CSV as dataframes and Investigate the data and its types

In [4]:
# YOUR CODE HERE
sales1 = pd.read_csv("sales1.csv")
sales2 = pd.read_csv("sales2.csv")

,Item Type,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost
0,Cosmetics,10/18/2014,686800706,10/31/2014,8446.0,437.20,263.33
1,Vegetables,11/7/2011,185941302,12/8/2011,NaN,NaN,NaN
2,Baby Food,10/31/2016,246222341,12/9/2016,1517.0,255.28,159.42
3,*Cereal,4/10/2010,161442649,5/12/2010,3322.0,205.70,117.11
4,Fruits,8/16/2011,645713555,8/31/2011,9845.0,9.33,6.92

In [3]:
# Investigate the data 
# YOUR CODE HERE
print(sales1)
print(sales2)
print(sales1.describe())
print(sales2.describe())

           Item Type  Order Date   Order ID   Ship Date  Units Sold  \
0          Cosmetics  10/18/2014  686800706  10/31/2014      8446.0
1         Vegetables   11/7/2011  185941302   12/8/2011         NaN
2          Baby Food  10/31/2016  246222341   12/9/2016      1517.0
3            *Cereal   4/10/2010  161442649   5/12/2010      3322.0
4             Fruits   8/16/2011  645713555   8/31/2011      9845.0
5            *Cereal  11/24/2014  683458888  12/28/2014      9528.0
6            *Cereal    3/4/2015  679414975   4/17/2015      2844.0
7            Clothes   5/17/2012  208630645   6/28/2012      7299.0
8         Vegetables   1/29/2015  266467225    3/7/2015      2428.0
9         Vegetables  12/24/2013  118598544   1/19/2014      4800.0
10           Clothes  12/29/2015  451010930   1/19/2016      3012.0
11            Snacks   2/27/2010  220003211   3/18/2010      2694.0
12         Household  11/17/2016  702186715  12/22/2016      1508.0
13         Cosmetics  12/20/2015  544485270    1/5/2016      4146.0
14            Fruits    1/8/2011  714135205    2/6/2011      7332.0
15           Clothes   6/28/2010  448685348   7/22/2010      4820.0
16   Office Supplies   4/25/2016  405997025   5/12/2016      2397.0
17         Beverages   7/27/2012  414244067    8/7/2012      2880.0
18           Clothes    9/8/2014  821912801   10/3/2014      1117.0
19         Household   8/27/2012  247802054    9/8/2012      8989.0
20            Snacks    9/3/2012  531023156  10/15/2012       407.0
21           Clothes   8/27/2010  880999934   9/16/2010      6313.0
22     Personal Care   2/20/2011  127468717    3/9/2011         NaN
23           Clothes  12/12/2015  770478332   1/24/2016       515.0
24           *Cereal  10/28/2012  430390107  11/13/2012       852.0
25         Beverages   1/30/2017  397877871   3/20/2017      9759.0
26         Beverages  10/22/2014  683927953   11/4/2014      8334.0
27            Fruits   1/31/2012  469839179   2/22/2012      4709.0
28              Meat   1/20/2016  357222878    3/9/2016      9043.0
29     Personal Care    1/1/2016  118002879    1/7/2016      8529.0
..               ...         ...        ...         ...         ...
970          *Cereal   2/21/2016  708063542   3/19/2016       592.0
971       Vegetables   12/4/2016  817192542  12/22/2016      4288.0
972             Meat   1/16/2012  936387765   2/29/2012      6803.0
973          Clothes    8/6/2011  612573039    8/9/2011      2830.0
974          Clothes   8/12/2011  812984693   8/22/2011      9092.0
975             Meat  12/18/2012  775171554    1/5/2013      9344.0
976        Household   1/10/2010  256994950   2/19/2010      9372.0
977        Beverages   2/28/2017  886628711   3/31/2017      1993.0
978        Beverages   12/8/2011  312559163  12/16/2011      2057.0
979          *Cereal   8/18/2014  753585135   9/13/2014      1443.0
980        Beverages   4/19/2016  448817956   4/22/2016      4062.0
981          Clothes   11/6/2012  407681453  12/24/2012       856.0
982           Snacks   5/27/2016  359911954   6/23/2016      4800.0
983  Office Supplies   8/18/2013  105558288   8/19/2013      5898.0
984    Personal Care  12/31/2014  864981782   2/11/2015      6186.0
985  Office Supplies    2/4/2013  328856265   2/12/2013      4732.0
986          Clothes   9/23/2016  308168065  10/18/2016      2633.0
987        Household   11/1/2016  884216010   11/2/2016      8021.0
988           Snacks  12/27/2012  858611428    1/9/2013      1057.0
989          *Cereal   3/10/2017  903278148    4/3/2017         NaN
990        Beverages   3/17/2012  410452497   3/26/2012       870.0
991          *Cereal  12/17/2015  642683303   1/20/2016      3126.0
992        Beverages   2/18/2017  682831895   3/16/2017      3987.0
993        Baby Food   11/5/2016  584072101   11/5/2016      8769.0
994             Meat    4/9/2017  919890248   5/18/2017      4821.0
995           Snacks   4/18/2010  534085166   4/25/2010      6524.0
996        Baby Food    8/1/2011  590768182    9/7/2011       288.0
997       Vegetables   5/12/2011  524363124   6/28/2011      9556.0
998        Household   1/25/2016  289606320   2/14/2016         NaN
999          *Cereal   4/10/2014  811546599    5/8/2014      3528.0

     Unit Price  Unit Cost
0        437.20     263.33
1           NaN        NaN
2        255.28     159.42
3        205.70     117.11
4          9.33       6.92
5        205.70     117.11
6        205.70     117.11
7        109.28      35.84
8        154.06      90.93
9        154.06      90.93
10       109.28      35.84
11       152.58      97.44
12       668.27     502.54
13       437.20     263.33
14         9.33       6.92
15       109.28      35.84
16       651.21     524.96
17        47.45      31.79
18       109.28      35.84
19       668.27     502.54
20       152.58      97.44
21       109.28      35.84
22          NaN        NaN
23       109.28      35.84
24       205.70     117.11
25        47.45      31.79
26        47.45      31.79
27         9.33       6.92
28       421.89     364.69
29        81.73      56.67
..          ...        ...
970      205.70     117.11
971      154.06      90.93
972      421.89     364.69
973      109.28      35.84
974      109.28      35.84
975      421.89     364.69
976      668.27     502.54
977       47.45      31.79
978       47.45      31.79
979      205.70     117.11
980       47.45      31.79
981      109.28      35.84
982      152.58      97.44
983      651.21     524.96
984       81.73      56.67
985      651.21     524.96
986      109.28      35.84
987      668.27     502.54
988      152.58      97.44
989         NaN        NaN
990       47.45      31.79
991      205.70     117.11
992       47.45      31.79
993      255.28     159.42
994      421.89     364.69
995      152.58      97.44
996      255.28     159.42
997      154.06      90.93
998         NaN        NaN
999      205.70     117.11

[1000 rows x 7 columns]
      Order ID                             Region  \
0    686800706       Middle East and North Africa
1    185941302                      North America
2    246222341       Middle East and North Africa
3    161442649                               Asia
4    645713555                 Sub-Saharan Africa
5    683458888                             Europe
6    679414975                 Sub-Saharan Africa
7    208630645                             Europe
8    266467225  Central America and the Caribbean
9    118598544              Australia and Oceania
10   451010930                 Sub-Saharan Africa
11   220003211                             Europe
12   702186715                             Europe
13   499009597                                NaN
14   564646470                 Sub-Saharan Africa
15   262056386                                NaN
16   211114585                 Sub-Saharan Africa
17   405785882                 Sub-Saharan Africa
18   280494105  Central America and the Caribbean
19   689975583                             Europe
20   759279143                             Europe
21   133766114                 Sub-Saharan Africa
22   329110324                               Asia
23   681298100       Middle East and North Africa
24   596628272                 Sub-Saharan Africa
25   901712167                 Sub-Saharan Africa
26   489148938                             Europe
27   876286971                             Europe
28   262749040       Middle East and North Africa
29   726708972                               Asia
..         ...                                ...
950  708063542  Central America and the Caribbean
951  817192542                 Sub-Saharan Africa
952  936387765  Central America and the Caribbean
953  612573039                               Asia
954  812984693                                NaN
955  775171554  Central America and the Caribbean
956  256994950                 Sub-Saharan Africa
957  886628711       Middle East and North Africa
958  312559163                 Sub-Saharan Africa
959  753585135                             Europe
960  448817956              Australia and Oceania
961  407681453              Australia and Oceania
962  359911954                             Europe
963  105558288       Middle East and North Africa
964  864981782                 Sub-Saharan Africa
965  328856265                 Sub-Saharan Africa
966  308168065                               Asia
967  884216010              Australia and Oceania
968  858611428                             Europe
969  903278148              Australia and Oceania
970  410452497                 Sub-Saharan Africa
971  642683303                 Sub-Saharan Africa
972  682831895                             Europe
973  584072101              Australia and Oceania
974  919890248                               Asia
975  534085166       Middle East and North Africa
976  590768182                             Europe
977  524363124       Middle East and North Africa
978  289606320                             Europe
979  811546599                             Europe

                              Country Order Priority  Total Revenue  \
0                               Libya              M     3692591.20
1                              Canada              M      464953.08
2                               Libya              C      387259.76
3                               Japan              C      683335.40
4                                Chad              H       91853.85
5                             Armenia              H     1959909.60
6                             Eritrea              H      585010.80
7                          Montenegro              M      797634.72
8                             Jamaica              H      374057.68
9                                Fiji              H      739488.00
10                               Togo              M      329151.36
11                         Montenegro              M      411050.52
12                             Greece              C     1007751.16
13                                NaN              H     4482929.64
14                              Benin              L        2733.69
15                                NaN              L            NaN
16                  Equatorial Guinea              M     1531645.92
17                          Swaziland              H     6456747.15
18                Trinidad and Tobago              M      507473.64
19                             Sweden              L     2032794.64
20                            Belarus              L     4184675.46
21                      Guinea-Bissau              C     2097547.41
22                           Mongolia              M      470371.85
23                             Turkey              L       43454.67
24           Central African Republic              L      674251.02
25                  Equatorial Guinea              L     3596632.83
26                            Armenia              C     3753133.44
27                             Greece              L     1097967.61
28                             Israel              H      174493.55
29                             Bhutan              H     3454857.21
..                                ...            ...            ...
950            Saint Kitts and Nevis               H      121774.40
951                             Sudan              H      660609.28
952                         Guatemala              H     2870117.67
953                            Brunei              H      309262.40
954                               NaN              M      993573.76
955                            Panama              C     3942140.16
956          Central African Republic              H     6263026.44
957                           Bahrain              M       94567.85
958                           Burundi              C       97604.65
959                           Austria              L      296825.10
960                              Fiji              H      192741.90
961                              Fiji              M       93543.68
962                       Switzerland              H      732384.00
963                             Yemen              M     3840836.58
964                           Comoros              H      505581.78
965  Democratic Republic of the Congo              C     3081525.72
966                          Mongolia              H      287734.24
967                             Palau              L     5360193.67
968                            Monaco              M      161277.06
969                              Fiji              L     1837312.40
970                              Mali              L       41281.50
971                           Liberia              H      643018.20
972                       Switzerland              L      189183.15
973                            Samoa               L     2238550.32
974                             Nepal              C     2033931.69
975                        Azerbaijan              C      995431.92
976                           Georgia              H       73520.64
977              United Arab Emirates              C     1472197.36
978                           Finland              L     6549714.27
979                          Portugal              C      725709.60

     Total Cost
0    2224085.18
1     274426.74
2     241840.14
3     389039.42
4      68127.40
5    1115824.08
6     333060.84
7     261596.16
8     220778.04
9     436464.00
10    107950.08
11    262503.36
12    757830.32
13   3613824.64
14      2027.56
15          NaN
16   1234705.92
17   5204978.40
18    299523.42
19   1269461.46
20   3373392.96
21   1690896.16
22    315134.27
23     37563.07
24    430587.36
25   2899354.08
26   3244282.24
27    825673.22
28    120990.45
29   2986446.41
..          ...
950    69329.12
951   389907.84
952  2480986.07
953   101427.20
954   325857.28
955  3407663.36
956  4709804.88
957    63357.47
958    65392.03
959   168989.73
960   129130.98
961    30679.04
962   467712.00
963  3096214.08
964   350560.62
965  2484110.72
966    94366.72
967  4030873.34
968   102994.08
969  1046026.52
970    27657.30
971   366085.86
972   126746.73
973  1397953.98
974  1758170.49
975   635698.56
976    45912.96
977   868927.08
978  4925394.54
979   413164.08

[980 rows x 6 columns]
           Order ID   Units Sold  Unit Price   Unit Cost
count  1.000000e+03   994.000000  994.000000  994.000000
mean   5.496813e+08  5046.129779  262.162193  185.051308
std    2.571334e+08  2897.630250  216.150584  175.419323
min    1.029280e+08    13.000000    9.330000    6.920000
25%    3.280740e+08  2404.750000   81.730000   41.047500
50%    5.566097e+08  5184.000000  154.060000   97.440000
75%    7.696945e+08  7533.500000  421.890000  263.330000
max    9.955298e+08  9998.000000  668.270000  524.960000
           Order ID  Total Revenue    Total Cost
count  9.800000e+02   9.770000e+02  9.770000e+02
mean   5.503923e+08   1.334170e+06  9.412845e+05
std    2.575631e+08   1.486748e+06  1.163293e+06
min    1.029280e+08   2.043250e+03  1.416750e+03
25%    3.273675e+08   2.899409e+05  1.679699e+05
50%    5.599769e+08   7.763065e+05  4.678675e+05
75%    7.699941e+08   1.761479e+06  1.144786e+06
max    9.955298e+08   6.617210e+06  5.204978e+06

### Merge Dataframes
Merge the two dataframes into a single dataframe "sales" based on order id such that new data consist of common order ID and all the other columns.
Also analyse the data in different columns.
Use [Merge function](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.merge.html)

In [6]:
sales = None
# YOUR CODE HERE
sales = pd.merge(sales1, sales2,on="Order ID", how="outer")

In [7]:
assert(sales[sales["Order ID"]==686800706]["Country"].values == "Libya")
assert(sales[sales["Order ID"]==686800706]["Item Type"].values == "Cosmetics")

### Data Cleaning
If you look at the data we can see some issues,
- Some of the Item Type start with " * " we want to remove the asterik in the column
- Some columns data are missing indicated by NaN (u can try isnull(), isna() function)
  - If Region or Country data is missing replace it with unknown
  - if other data are missing, remove it from "sales" dataframe and add it in a "missing" dataframe 

Reference for this section:
- [Working with missing data](https://pandas.pydata.org/pandas-docs/stable/missing_data.html)
- [Python Lambda Expressions](https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions)
- [Pandas Apply Function](https://pandas.pydata.org/pandas-docs/version/0.18/generated/pandas.Series.apply.html)
- [Pandas FillNa](https://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.fillna.html)

In [9]:
# Investigate dataframe for Null (NA/NAN) and count the number of rows with NA/NAN
NA_count = 0
# YOUR CODE HERE
NA_count = sales[sales.isnull().any(axis=1)].shape[0]

31

In [10]:
# remove "*", NaN, add missing sales data to "missing" dataframe 
# YOUR CODE HERE
sales["Item Type"]=pd.Series(sales["Item Type"]).str.replace("*","",regex=True)
sales["Country"].fillna("unknown", inplace=True)
sales["Region"].fillna("unknown", inplace=True)
missing = pd.DataFrame(columns=sales.columns)
for index,row in sales.iterrows():
    if row.isna().sum():
        missing = missing.append(sales.loc[index, :], ignore_index=True)
        sales.drop(index, inplace=True)

In [11]:
assert(sales[sales["Order ID"]==267066323]["Item Type"].values == "Cereal")
assert(sales[sales["Order ID"]==267066323]["Region"].values == "unknown")

Find the number of unique items available.

In [12]:
NumItems = 0
# YOUR CODE HERE
NumItems = len(pd.unique(sales["Item Type"]))

### Grouping and Analysis 
Find out the statistical summary for ‘Unit Cost’ column for each Items.
Then extract the count, mean and std for "Cereal","Fruits","Vegetables","Baby Food" and "Meat" as a dataframe "Kitchen"
References:
- [Pandas Indexing](https://pandas.pydata.org/pandas-docs/stable/indexing.html)
- [Groupby](https://pandas.pydata.org/pandas-docs/stable/groupby.html)
- [Loc](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.loc.html)
- [filter](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.filter.html)

In [13]:
Kitchen = None
# YOUR CODE HERE
indexdict = ["Cereal", "Fruits", "Vegetables", "Baby Food", "Meat"]
Kitchen = pd.DataFrame(index= indexdict, columns=["count", "mean", "std"])
for i in indexdict:
    unitCostCol = sales.loc[sales["Item Type"]== i ]["Unit Cost"]
    Kitchen.loc[ i ] = [unitCostCol.count(), unitCostCol.mean(), unitCostCol.std()]

In [14]:
assert(Kitchen.loc["Cereal"]["count"]==77)

In [15]:
#Generate the new column ‘Total Profit’ for each orders (Total Profit = Total Revenue - Total Cost)
# YOUR CODE HERE
sales.insert(12, "Total Profit", value= sales["Total Revenue"] - sales["Total Cost"])

In [16]:
assert(sales[sales["Order ID"]==246222341]["Total Profit"].values == 145419.62)

In [17]:
# How many data sets are there with profit greater than 60%
ans = None
# YOUR CODE HERE
sales["Total Profit%"] = sales["Total Profit"]/sales["Total Cost"]*100
ans = (sales["Total Profit%"]>=60).count()